:root{
  --main-color:#0b0b0b
}

*{
  margin:0;
  font-family: 'Roboto', sans-serif, Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

